body {
  margin: 0;
  font-family: Inter, sans-serif;
}
.navbar {
  display: flex;
  background-color:#21222A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0px 25px;
}


.title {
  color: #61DAFB;
  margin-right: auto;
  font-weight: 700;
}

.subtitle {
  color: #DEEBF8;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.nav-logo {
  height: 30px;
  width: auto;
}

.container {
  background-color: #282D35;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
  padding: 60px 27px;
  background-image: url(./images/reactLogoLarge.png);
  background-repeat: no-repeat;
  background-position: right 24%;
  background-size: 263px;
}
.list-title {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.05em;
}
.fact-list {
  font-size: 16;
  font-weight: 400;
  margin-left: 20px;
  max-width: 400px;
}

.fact-list > * {
  padding: 10px;
}

.fact-list > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}

