body {
    color: #325050;
    background: white;
    font-family: 'libre baskerville', sans-serif;
    font-size: 70%;
    display: block;
}
#container {
    display: grid;
}
body {
    margin: 0px;
}
#header1 {
    background-image: url(contours.png), url(gridlines.png), url(noise.png), url(huntington-header.jpeg);
    background-color: #2d6360;
    background-repeat: no-repeat, repeat, no-repeat, no-repeat;
    background-size: cover, cover, auto, cover;
    margin: 0px;
    position: absolute, absolute, absolute, center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: rgba(19, 67, 71, 0.9) solid 25px;
    font-size: 70%;
    
}
#wholeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#title {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    align-self: center;
    font-size: 3.2vh;
}
#subTitle {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color: white;
    opacity: 65%;
    display: flex;
}
#header2 {
    display: flex;
    flex-direction: row;
    color: white;
    opacity: 90%;
}
#subheader {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    text-align: center;
    justify-self: center;
}
.arrow {
    font-family: 'verdemoderna';
    font-size: 3vh;
}
.basicText {
    font-family: 'Libre Baskerville', serif;
}
.julius {
    font-family: 'Julius Sans One', sans-serif;
}
#intro1 {
    color: #325050;
}
#p1 {
    margin-top: 6em;
}
h3 {
    font-family: 'Julius Sans One', sans-serif;
    width: 80%;
    line-height: 1.45em;
    font-size: 2.7em;
    margin: auto;
}
.pTitle {
    font-size: 2.7em;
    line-height: 1.45em;
    margin-bottom: .7em;
    margin-top: 3.1em;
}
p {
    font-size: 1.1em;
    line-height: 2.03;
    margin: auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1.1em;
}
#participation1 {
    background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
    background-attachment: scroll, scroll, fixed;
    background-color: rgba(138,188,159,0.5);
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
}
#credits {
    background-image: url(contours.png), url(gridlines.png), url(noise.png), url(koi.jpeg);
    background-position: 0 0, -5px, -25px, 0 0, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
    margin: auto;
}
#creditText {
    width: 80%;
    font-size: 2em;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    color:rgba(255, 255, 255, .25);
    margin: auto;
    margin-top: 3.1em;
    margin-bottom: 3.1em;
    line-height: 2;
}
.noItalic {
    font-style: normal;
    color: rgb(255, 255, 255, .6)
}
#footer {
    background-color: #134347;
    color: rgba(255, 255, 255, .5);
    text-align: center;
    font-family: 'verdemoderna', sans-serif;
    font-size: 50px;
    -webkit-font-smoothing: antialiased;
}
#footerIcons {
    font-weight: normal;
    
}
h4 {
    font-family: 'Julius Sans One', sans-serif;
}
.designs {
    font-family: 'libre baskerville', serif;
}
#intro2 {
    background-color: #e6ede9;

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    #container {
        grid-template-rows: 29vh, auto, auto, auto, auto, 110px, auto, auto;
    }
    #header1 {
        grid-template-rows: 1 / 2;
        height: 28.5vh;
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        contain: content;

    }
    #wholeTitle {
        height: 19vh;
        contain: content;
        text-align: center;
        align-items: center;
        margin-bottom: 115px;
    }
    #title {
        font-size: 3.3vh;
        text-shadow: .6px -.3px .5px black;
        position: center;
        margin: 10px;
    }
    #subTitle {
        font-size: 2.07vh;
        position: flex-end;
        margin-top: 0px;
        margin-bottom: 70px;
    }
    #header2 {
        background-color: rgba(255, 255, 255, .25);
        color: white;
        height: 6.5vh;
        width: 100vw;
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    #subheader {
        align-self: center;
        opacity: 90%;
        font-size: 1.9vh;
        font-family: 'julius sans one', sans-serif;
    }
    .arrow {
        opacity: 70%;
        align-self: center;
        font-size: 5vh;
        font-family: 'verdemoderna', sans-serif;
        margin-left: 30px;
        margin-right: 30px;
    }
    #enso {
        height: 6vh;
        position: flex-start;
        opacity: 70%;
        margin-bottom: 15px;
    }
    p {
        font-size: 1.1em;
        line-height: 2.05;
        margin: auto;
        display: block;
        margin-block-start: 1.1em;
        margin-block-end: 1.1em;
        width: 80%;
    }
    #intro1 {
        margin-top: 5em;
        margin: auto;
    }
    #p2 {
        display: none;
    }
    h3 {
        font-size: 2em;
        line-height: 2em;
        width: 80%;
        color: #2e484c;
    }
    .julius {
        font-weight: normal;
    }
    #credits {
        grid-row: 6 / 7;
    }
    #intro2{
        grid-row: 8 / 9;
    }
}
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    #container {
        grid-template-rows: 230px, auto, auto, auto, auto, 122px, auto, auto;
    }
}
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1132px) {
    /* Styles */
    #container {
        grid-template-columns: 66%, 34%;
        grid-template-rows: 310px, auto, auto, auto, 320px, 152px;
    }
}
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
}
/*icon font*/
@font-face {
	font-family: 'verdemoderna';
	src:url('verdemoderna.eot');
	src:url('verdemoderna.eot?#iefix') format('embedded-opentype'),
		url('verdemoderna.woff') format('woff'),
		url('verdemoderna.ttf') format('truetype'),
		url('verdemoderna.svg#verdemoderna') format('svg');
	font-weight: normal;
	font-style: normal;
}  