html {
  background: url('src/assets/carina-nebula.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
.splash-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote-container {
  width: 70vw;
  max-width: 800px;
  height: 40vh;
  max-height: 600px;
  margin-top: 100px;
  text-shadow: #080645 1px 3px 5px, 3px 1px 0px rgba(14,39,122,0);
  opacity: 100%;
}

.quote {
  font-size: 2.7rem;
  line-height: 1;
  letter-spacing: -0.5px;
}
.quote-credit {
  padding-left: 70%;
  margin-top: -15px;
}

.search-container {
  margin-top: 10vh;
}