body {
  margin: 0;
  font-size: 12px;
  font-family: 'Comfortaa', cursive;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.header {
  padding: 10px;
  background: rgb(71,0,121);
  background: linear-gradient(90deg, rgba(71,0,121,1) 0%, rgba(212,46,101,1) 48%, rgba(255,127,0,1) 100%); 
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: 2px 8px 17px -10px rgba(0,0,0,0.46);
  -webkit-box-shadow: 2px 8px 17px -10px rgba(0,0,0,0.46);
  -moz-box-shadow: 2px 8px 17px -10px rgba(0,0,0,0.46);
  height: 7vh;
}
h1 {
  margin: auto;
  font-size: 2rem;
}
/* Generator Styles */
.generator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
}
.preview {
  width: 80%;
  height: 10rem;
  border-radius: 10px;
  margin: 15px;
  
}
button {
  font-family: 'Comfortaa', cursive;
  background: rgba(71,0,121,1);
  color: white;
  border: none;
  height: 3vh;
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
}
label {
  padding: 10px;
}
.input-container {
  margin: 10px;
}
.generator {
  padding: 40px;
}
textarea {
  width: 80%;
  height: 5vh;
}