body {
    font-family: 'Averia Serif Libre', cursive;
    background-color: rgb(234, 252, 234);
}

#submitTodo {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}
#header {
    text-align: center;
    margin: auto;
}
#pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#listDiv {
    width: 80vw;
    display: flex;
}
#todoList {
    border: 1px solid slategray;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    width: 50vw;
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 500px;
    align-self: center;
}

li {
    display: inline;
    width: 100%
}

img {
    margin: 30px;
    justify-self: right;
    width: 100%;
    flex-grow: 1;
    margin-right: 70%;
}

input {
    margin-bottom: 5px;
    border-radius: 2px;
    border:rgb(175, 176, 175) 1px solid;
}
#description, #imgUrl {
    width: 90%;
}
#title, #price {
    width: 44.2%;
    display: inline;
}
#submit {
    display: block;
    justify-self: center;
    margin: auto;
    margin-top: 10px;
}
.checkbox, .delete {
    align-self: flex-end;
    justify-self: flex-start;
    width: 20%;
    display: absolute;

}
ul > div {
    background-color: slategray;
    height: 1px;
    width: 100%;
    margin: 10px;
    display: block;
}
.editInput {
    width: 100%;
}
button {
    background-color: darkslategrey;
    color: white;
    height: 20px;
    border-radius: 5px;
    margin: 5px;
    font-family: 'Averia Serif Libre', cursive;
}