.app {
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  color: darkslategrey;
}
.color-square {
  height: 200px;
  width: 200px;
  margin: auto;
  box-sizing: border-box;
  margin-top: 100px;
}