html { 
    background: url(https://images.unsplash.com/photo-1563089145-599997674d42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#container {
    position: relative;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#button-div {
    position: absolute;
    margin: 0;
}
#button {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 33vh;
    height: 33vh;
}
#header {
    display: flex;
    background-color: rgba(68, 2, 112, .6);
    height: 10vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Supermercado One', cursive;
    font-size: 8vh;
    color: rgb(230, 92, 110);
    
}
#whole-page {
    height: 99vh;
}
