body {
  margin: 0;
  font-size: 12px;
  font-family: 'Rubik Moonrocks', cursive;
  font-family: 'Stick No Bills', sans-serif;
  font-family: 'Titan One', cursive;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  height: 120px;
  width: 100%;
  font-family: 'rubik moonrocks', cursive;
  font-size: 1.5rem;
  background: rgb(223,251,63);
  background: radial-gradient(circle, rgba(223,251,63,1) 0%, rgba(252,126,70,1) 100%);
  color: rgb(32, 75, 32);
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 80%;
}

input {
  margin: 5px;
  width: 20vw;
  height: 1.5rem;
}

button {
  background-color: rgb(32, 75, 32) ;
  color: white;
  border: none;
  font-family: 'Stick No Bills', sans-serif;
  width: 70px;
  height: 30px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 5px;
}

.ugly-box {
  height: 500px;
  width: 300px;
  -webkit-box-shadow: 0px 4px 11px 5px rgba(137,137,137,0.2); 
  box-shadow: 0px 4px 11px 5px rgba(137,137,137,0.2);
  padding: 5px;
  font-family: 'stick no bills', serif;
  display: flex;
  flex-direction: column;
  contain: content;
  margin: 10px;
  border-radius: 10px;
}

.ugly-img {
  width: 300px;
  height: 370px;
  object-fit: cover;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}