
.splash_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('src/assets/carina-nebula.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.content_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80vh;
}
.quote_box {
  width: 70vw;
  max-width: 1000px;
  height: 35vh;
  max-height: 600px;
  text-shadow: #080645 1px 3px 5px, 3px 1px 0px rgba(14,39,122,0);
  opacity: 100%;
  margin-bottom: 0;
  margin-top: 10vh;
}

.quote {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  text-align: center; 
  margin: 0;
}
.quote_credit {
  padding-left: 70%;
  margin-top: 10px;
  margin-bottom: 0;
}

.search_box {
  margin-top: 0vh;
  margin-bottom: 3vh;
}

.about_box {
  width: 70vw;
  max-width: 900px;
  background-color: rgba(29, 37, 64, .8);
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  margin-bottom: 5vh;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .quote_box {
      margin-top: 15vh;
    }
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .quote_box{
      margin-top: 15vh;
    }
}