@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  h1 {
    @apply text-4xl
  }
  h2 {
    @apply text-3xl
  }
  h3 {
    @apply text-2xl
  }
  h4 {
    @apply text-xl
  }

  button {
    @apply m-1 rounded-md bg-cyan-400 p-1 text-black max-w-[7rem] h-8 self-center inline
  }
  input {
    @apply h-8 self-center p-1 align-middle m-1 text-cyan-900 placeholder-cyan-700 bg-cyan-200 max-w-[12rem] 
  }
  /* input[type=checkbox]:checked{
    @apply bg-cyan-700
  }
  input[type=checkbox] {
    @apply bg-cyan-200 
  } */
}
html {
  font-size: 16px;
  font-family: 'Iceland', cursive;
  margin: 0;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: radial-gradient(rgba(21, 94, 117, 0.75), black 120%
  );
  height: 100vh;
  text-shadow: 0 0 2px #767777;
}

.App::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(0,0,0, 0.08),
    rgba(0,0,0, 0.09) 1.2px,
    transparent 1.5px,
    transparent 2px
  );
}
input[type=checkbox] {
  -webkit-appearance: none;
  background-color:#a5f3fc;
  padding: 3px;
  margin: 5px;
  border:#a5f3fc solid 4px;
}
input[type=checkbox]:checked {
-webkit-appearance: none;
background-clip: padding-box;
background-color:#0b2e39;
}


input {
  border-radius: 5px;
}



.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  border-style: double;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

