
.splash_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../assets/carina-nebula.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.content_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 80vh;
}
.quote_box {
  width: 70vw;
  max-width: 1000px;
  height: 35vh;
  max-height: 600px;
  text-shadow: #080645 1px 3px 5px, 3px 1px 0px rgba(14,39,122,0);
  opacity: 100%;
  margin-top: 10vh;
}

.quote {
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.5px;
  text-align: center; 
  margin: 0;
}
.quote_credit {
  padding-left: 70%;
  margin-top: 10px;
  margin-bottom: 0;
}

.search_box {
  margin-top: 0vh;
  margin-bottom: 3vh;
}

.about_box {
  width: 70vw;
  max-width: 900px;
  background-color: rgba(29, 37, 64, .8);
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  margin-bottom: 7vh;
  margin-top: 1rem;
}

@media screen and (max-width: 412px) {
    .about_box {
      line-height: 1.2;
      width: 85vw;
    }
    .quote_box {
      margin: 1rem;
      margin-top: 6rem;
      width: 85vw;
    }
    .quote {
      font-size: 1.4rem;
    }
  }

@media screen and (min-width: 412px) {
    .quote_box {
      width: 90vw;
    }
    
    .quote {
      font-size: 1.3rem;
    }  

    .about_box {
      line-height: 1.1;
      width: 85vw;
    }
  }


  @media screen and (min-width: 650px) {
    .quote {
      font-size: 1.9rem;
    }

    .quote_box {
      width: 85vw;
      margin: 1.5rem;
      margin-top: 5rem;
    }

    .about_box {
    width: 85vw;
    line-height: 1.2;
    }


  }

@media screen and (min-width: 900px) {
  .quote_box {
    width: 80vw;
    max-width: 1000px;
    margin-bottom: 0;
    margin-top: auto;
    height: auto;
    max-height: 25vh;
  }
  .quote {
    font-size: 1.5rem; 
  }
  .quote_credit {
    padding-left: 80%;
    font-size: 1.3rem;
  }
  .about_box {
    width: 75vw;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1rem;
  }

}

@media screen and (min-width: 1024px) {

  .quote {
    font-size: 2rem;
  }

  .quote_box {
    margin: 1rem;
    margin-top: 4rem;
  }
  .quote_credit {
    font-size: 1rem;
  }

  .about_box {
    font-size: .9rem;
    line-height: 1.1;
  }

}

/* @media screen 
  and (max-width: 1366px){
    .quote_box {
      margin-top: 5rem;
    }
  } */

@media screen and (min-width: 1280px) {
  
  .quote_box {
    margin: 1rem;
    margin-top: auto;
    margin-bottom: auto;
  }
  .quote {
    font-size: 2.5rem;
    }

  .about_box {
    font-size: 1rem;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1400px) { 
  
  .quote_box {
    margin: 1rem;
    margin-top: 5rem;
  }
  .quote {
    font-size: 2.5rem;
    }

  .about_box {
    font-size: .9rem;
  }
}

@media screen and (min-width: 1800px) {

    .quote_box {
      margin-top: auto;
    }
    .quote {
      font-size: 3rem;
    }
  }

/* ----------- Non-Retina Screens -----------
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .quote_box {
      margin-top: 15vh;
    }
} */

/* ----------- Retina Screens -----------
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .quote_box{
      margin-top: 15vh;
    }
} */